<%- include('partials/header') -%>

<main class="login-container">
  <div class="sidenav">
     <video autoplay loop muted plays-inline height="2000px" class="login-video">
        <source src="video/Dreamville_Sacrifice.mp4" type="video/mp4">
        </video>
    <div class="login-main-text">
       <h2> <strong> WELCOME TO DREAMVILLE-APP</strong><br> Login To See Your Favorite Artist</h2>
       <p>Login or register from here to access. <strong><a href="/signup">Sign-Up</a></strong> </p>
    </div>
 </div>

        <!-- <div>
            <h1>Welcome LogIn To View Your Favorite Artist</h1>
        </div> -->

        <div class="main">
          <div class="col-md-6 col-sm-12">
             <div class="login-form"
          <section class="col-6 mt-5">
          <% if (locals.messages.errors) { %> <% messages.errors.forEach( el => { %>
          <div class="alert alert-danger"><%= el.msg %></div>
          <% }) %> <% } %> <% if (locals.messages.info) { %> <%
            messages.info.forEach( el => { %>
          <div class="alert alert-info"><%= el.msg %></div>
          <% }) %> <% } %>
          <form action="/login" method="POST">
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label"
            >Email address</label
            >
          <input
            type="email"
            class="form-control"
            id="exampleInputEmail1"
            aria-describedby="emailHelp"
            name="email"
          />
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Password</label>
          <input
            type="password"
            class="form-control"
            id="exampleInputPassword1"
            name="password"
          />
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </section>
  </div>
  </div>
  </div>
<!-- </div> -->
</main>

<%- include('partials/footer') -%>