

#background-video {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

/* Setting the aspect ratio of the video with media queries so its would be responsixe across different screen sizes- Start */

@media (min-aspect-ratio: 16/9) {
    #background-video {
        width: 100%;
        height: auto;

    }
}

@media (max-aspect-ratio: 16/9) {
    #background-video {
        width: auto;
        height: 100%;

    }
}

/* Setting the aspect ratio of the video with media queries so its would be responsixe across different screen sizes- End */

#dream-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
    color: #fff;
    gap: 10px;
    font-size: 15px;
}


input[type="text"] {
    padding: 10px;
    border-radius: 10px;
    border-inline: none;
    width: 20%;
}

button {
    padding: 10px;
    border-radius: 20px;
}

.details {
    background: linear-gradient(135deg, rgb(158, 88, 22) 60%, rgb(134, 122, 114));
    width: 100%;
    height: 70%;
    padding: 20px;
    margin: 10px;
    border-radius: 20px;
    -moz-box-shadow: 0 0 3px #ccc;
    -webkit-box-shadow: 0 0 3px #ccc;
    box-shadow: 0 0 3px #ccc;
}

